[phases.setup]
nixPkgs = ["python311"]

[phases.build]
cmds = [
    "python -m venv /opt/venv",
    ". /opt/venv/bin/activate && pip install --upgrade pip",
    ". /opt/venv/bin/activate && pip install -r requirements.txt"
]

[start]
cmd = ". /opt/venv/bin/activate && gunicorn --bind 0.0.0.0:$PORT --workers 3 app:app"